{%extends "base.html" %}

{% block content %}
<h1 class="text-4xl py-2">Teams</h1>

<div class="grid grid-cols-4 gap-4 py-8">
    <a href="#counter-strike" class="grayscale hover:grayscale-0">
        <img src="img/counter_strike.webp" class="rounded">
    </a>
    <a href="#dota2" class="grayscale hover:grayscale-0">
        <img src="img/dota2.png" class="rounded">
    </a>
    <a href="#league-of-legends" class="grayscale hover:grayscale-0">
        <img src="img/league_of_legends.png" class="rounded">
    </a>
    <a href="#rocket-league" class="grayscale hover:grayscale-0">
        <img src="img/rocket_league.png" class="rounded">
    </a>
</div>

<h2 id="counter-strike" class="text-3xl py-2">Counter Strike</h2>

<div class="grid grid-cols-5 gap-4 py-8">
    <div>
        <img src="img/counter_strike_placeholder.png">
        <p class="p-3 text-3xl text-center font-bold font-['Sansilk']">MordragT</p>
        <p class="text-lg text-center text-blue-400 font-['OneTwoHours']">Thomas</p>
    </div>
    <div>
        <img src="img/counter_strike_placeholder.png">
        <p class="p-3 text-3xl text-center font-bold font-['Sansilk']">Raion</p>
        <p class="text-lg text-center text-blue-400 font-['OneTwoHours']">Leon</p>
    </div>
    <div>
        <img src="img/counter_strike_placeholder.png">
        <p class="p-3 text-3xl text-center font-bold font-['Sansilk']">Knallhart</p>
        <p class="text-lg text-center text-blue-400 font-['OneTwoHours']">Lukas</p>
    </div>
    <div>
        <img src="img/counter_strike_placeholder.png">
        <p class="p-3 text-3xl text-center font-bold font-['Sansilk']">Franz</p>
        <p class="text-lg text-center text-blue-400 font-['OneTwoHours']">Jan</p>
    </div>
    <div class="grayscale">
        <img src="img/counter_strike_placeholder.png">
        <p class="p-3 text-3xl text-center font-bold font-['Sansilk']">Vacant</p>
        <p class="text-lg text-center text-blue-400 font-['OneTwoHours']">Vacant</p>
    </div>
</div>

<h2 id="league-of-legends" class="text-3xl py-2">League of Legends</h2>

<div class="grid grid-cols-5 gap-4 py-8">
    <div class="grayscale">
        <img src="img/placeholder.png">
        <p class="p-3 text-3xl text-center font-bold font-['Sansilk']">Vacant</p>
        <p class="text-lg text-center text-blue-400 font-['OneTwoHours']">Vacant</p>
    </div>
    <div class="grayscale">
        <img src="img/placeholder.png">
        <p class="p-3 text-3xl text-center font-bold font-['Sansilk']">Vacant</p>
        <p class="text-lg text-center text-blue-400 font-['OneTwoHours']">Vacant</p>
    </div>
    <div class="grayscale">
        <img src="img/placeholder.png">
        <p class="p-3 text-3xl text-center font-bold font-['Sansilk']">Vacant</p>
        <p class="text-lg text-center text-blue-400 font-['OneTwoHours']">Vacant</p>
    </div>
    <div class="grayscale">
        <img src="img/placeholder.png">
        <p class="p-3 text-3xl text-center font-bold font-['Sansilk']">Vacant</p>
        <p class="text-lg text-center text-blue-400 font-['OneTwoHours']">Vacant</p>
    </div>
    <div class="grayscale">
        <img src="img/placeholder.png">
        <p class="p-3 text-3xl text-center font-bold font-['Sansilk']">Vacant</p>
        <p class="text-lg text-center text-blue-400 font-['OneTwoHours']">Vacant</p>
    </div>
</div>


{% endblock content %}