{%extends "base.html" %}

{% block content %}
<h1 class="text-4xl py-2">About</h1>

<details class="text-xl">
    <summary>Aix Magus is a german E-Sports Clan based in North-Rhine-Westphalia.</summary>
    <p>
        Aix Magus stands as a prominent force within the realm of German E-Sports, with its roots firmly planted in the
        vibrant heartland of North-Rhine-Westphalia. Pioneering a new era of competitive gaming, our clan has made its
        mark
        across a diverse array of gaming landscapes.
    </p>

    <p>
        Founded in the year 2023, Aix Magus swiftly established itself as a powerhouse, assembling dedicated teams that
        showcase their prowess in an impressive array of games. Among our ranks, two standouts take center stage: the
        exhilarating battlefields of Counter-Strike: Global Offensive (CS:GO) and the strategic mastery of League of
        Legends
        (LoL).
    </p>

    <p>
        Our journey through the digital arena is fueled by passion, dedication, and an unyielding commitment to
        excellence.
        With each click of the mouse and every perfectly timed maneuver, we unite as a collective force, propelling Aix
        Magus to the forefront of competitive E-Sports. As we continue to carve our path, our clan represents not only a
        community of players but a symbol of unwavering camaraderie and a shared pursuit of victory.
    </p>
    <p>
        Join us on this exhilarating journey, as we redefine what it means to be part of an esports clan, and together,
        we
        aim to etch our names in the annals of gaming history.
    </p>
</details>


<h1 class="text-4xl py-2">News</h1>

<h1 class="text-4xl py-2">Teams</h1>

<div class="flex flex-wrap py-8">
    <a href="#counter-strike" class="md:basis-1/4 sm:basis-1/2 max-w-sm p-2 grayscale hover:grayscale-0">
        <img src="img/counter_strike.webp" class="rounded">
    </a>
    <!-- <a href="#dota2" class="md:basis-1/4 sm:basis-1/2 max-w-sm p-2 grayscale  hover:grayscale-0">
        <img src="img/dota2.png" class="rounded">
    </a> -->
    <a href="#league-of-legends" class="md:basis-1/4 sm:basis-1/2 max-w-sm p-2 grayscale hover:grayscale-0">
        <img src="img/league_of_legends.png" class="rounded">
    </a>
    <!-- <a href="#rocket-league" class="md:basis-1/4 sm:basis-1/2 max-w-sm p-2 grayscale hover:grayscale-0">
        <img src="img/rocket_league.png" class="rounded">
    </a> -->
</div>

<h2 id="counter-strike" class="text-3xl py-2">Counter Strike</h2>

<div class="flex flex-wrap py-8">
    <div class="md:basis-1/5 sm:basis-1/3 max-w-xs p-2">
        <img src="img/counter_strike_placeholder.png" class="transform transition-transform hover:scale-105">
        <p class="p-3 text-3xl text-center font-bold font-['Sansilk']">Mordrag</p>
        <p class="text-lg text-center text-blue-400 font-['OneTwoHours']">Thomas</p>
    </div>
    <div class="md:basis-1/5 sm:basis-1/3 max-w-xs p-2">
        <img src="img/counter_strike_placeholder.png" class="transform transition-transform hover:scale-105">
        <p class="p-3 text-3xl text-center font-bold font-['Sansilk']">Raion</p>
        <p class="text-lg text-center text-blue-400 font-['OneTwoHours']">Leon</p>
    </div>
    <div class="md:basis-1/5 sm:basis-1/3 max-w-xs p-2">
        <img src="img/counter_strike_placeholder.png" class="transform transition-transform hover:scale-105">
        <p class="p-3 text-3xl text-center font-bold font-['Sansilk']">Knallhart</p>
        <p class="text-lg text-center text-blue-400 font-['OneTwoHours']">Lukas</p>
    </div>
    <div class="md:basis-1/5 sm:basis-1/3 max-w-xs p-2">
        <img src="img/counter_strike_placeholder.png" class="transform transition-transform hover:scale-105">
        <p class="p-3 text-3xl text-center font-bold font-['Sansilk']">Sloyce</p>
        <p class="text-lg text-center text-blue-400 font-['OneTwoHours']">Jan</p>
    </div>
    <div class="md:basis-1/5 sm:basis-1/3 max-w-xs p-2 grayscale">
        <img src="img/counter_strike_placeholder.png" class="transform transition-transform hover:scale-105">
        <p class="p-3 text-3xl text-center font-bold font-['Sansilk']">Vacant</p>
        <p class="text-lg text-center text-blue-400 font-['OneTwoHours']">Vacant</p>
    </div>
</div>

<h2 id="league-of-legends" class="text-3xl py-2">League of Legends</h2>

<div class="flex flex-wrap py-8">
    <div class="md:basis-1/5 sm:basis-1/3 max-w-xs p-2">
        <img src="img/lol_mid.png" class="transform transition-transform hover:scale-105">
        <p class="p-3 text-3xl text-center font-bold font-['Sansilk']">Monstersebi</p>
        <p class="text-lg text-center text-blue-400 font-['OneTwoHours']">Sebastian</p>
    </div>
    <div class="md:basis-1/5 sm:basis-1/3 max-w-xs p-2">
        <img src="img/lol_jungle.png" class="transform transition-transform hover:scale-105">
        <p class="p-3 text-3xl text-center font-bold font-['Sansilk']">MatsMuschel</p>
        <p class="text-lg text-center text-blue-400 font-['OneTwoHours']">Mats</p>
    </div>
    <div class="md:basis-1/5 sm:basis-1/3 max-w-xs p-2 grayscale">
        <img src="img/lol_top.png" class="transform transition-transform hover:scale-105">
        <p class="p-3 text-3xl text-center font-bold font-['Sansilk']">Vacant</p>
        <p class="text-lg text-center text-blue-400 font-['OneTwoHours']">Vacant</p>
    </div>
    <div class="md:basis-1/5 sm:basis-1/3 max-w-xs p-2 grayscale">
        <img src="img/lol_support.png" class="transform transition-transform hover:scale-105">
        <p class="p-3 text-3xl text-center font-bold font-['Sansilk']">Vacant</p>
        <p class="text-lg text-center text-blue-400 font-['OneTwoHours']">Vacant</p>
    </div>
    <div class="md:basis-1/5 sm:basis-1/3 max-w-xs p-2 grayscale">
        <img src="img/lol_adc.png" class="transform transition-transform hover:scale-105">
        <p class="p-3 text-3xl text-center font-bold font-['Sansilk']">Vacant</p>
        <p class="text-lg text-center text-blue-400 font-['OneTwoHours']">Vacant</p>
    </div>
</div>


{% endblock content %}